body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px;
}

input {
    display: block;
    font-size: 16px;
    padding: 5px 10px;
    border: 2px solid #aaa;
}

button {
    font-size: 16px;
    padding: 5px 10px;
    border: 2px solid #aaa;
    background: #eee;
}

.hide {
    display: none;
}

.visually-hidden {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0; 
}
